<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>XcodeImageCleanTool</title>

        <!-- Bootstrap -->
        <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/mainPageStatic/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="main-div">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 col-lg-3 control-label path">请填写项目的绝对路径(路径无需转义):</label>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <input type="text" class="form-control" id="project-path" value={{search_path}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 col-lg-3 control-label path">请填写图片资源的绝对路径:</label>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <input type="text" class="form-control" id="image-path" value={{image_path}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 col-lg-3 control-label path">请填写需要忽略的绝对路径（如有多个用英文逗号隔开，逗号前后无空格）:</label>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <textarea class="form-control" rows="3" id="ignore-path">{{ignore_path}}</textarea>
                    </div>
                </div>
            </form>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="search-repeat-images">查找重复图片</button>
                <button type="button" class="btn btn-default" id="search-similar-images">查找相似图片</button>
                <button type="button" class="btn btn-default" id="search-unused-images">查找未使用的图片</button>
            </div>
            <div class="alert alert-warning alert-div" role="alert">注意：如需使用查找相似图片的功能，需要先查找重复图片并处理完毕之后才能查找相似图片，否则可能存在结果不准确的问题。</div>
            <div class="searching">
                <p class="text-center">正在查找...</p>
            </div>
            {%- if images|length > 0 -%}
            <div class="search-results">
                <div class="row images-div">
                    {% for item in images %}
                    <div class="col-sm-2 col-md-2 col-lg-2 image-div">
                        <div class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10 image">
                                <img class="img-responsive" src={{item.location|safe}}>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="checkbox" name="cbx" id={{loop.index0}}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10 imagepath">
                                <ol>
                                    {% for path in item.paths %}
                                    <!--<li><a href='javascript:void(0);' onclick="openFile()">{{path}}</a></li>-->
                                    <li>{{path}}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-10 col-md-offset-10 col-lg-offset-10 action">
                        <button type="button" class="btn btn-default" id="choose-all">全选</button>
                        <button type="button" class="btn btn-danger" id="delete">删除</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/mainPageStatic/main.js"></script>
    </body>
</html>


